:root {
  --bgcolor: #1a79cf;
  --navcolor: #1a59af;

}

body {
  background-color: gray;
  
}



#header {
  background-color: var(--bgcolor);
  padding: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  display: flex;
}



#title{
	border: 0.8vw white solid;
		color: coral;
    font-family: "Gill Sans", "verdana", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	
	
    font-size: 3.5vw;
    width: 100%;
    line-height: 0.02;

}


#navbar {
  	align-content: center;
	display: flex;
	background-color: var(--navcolor);
}

#navbar a {
	color: white;
	padding: 0.6rem;
	cursor: pointer;
	text-decoration: none;
	font-family: "Nimbus Sans L";
	font-weight: bolder;
	
}

.active{
	background-color: coral;
	
}
