

#games-container {

	background-color: #838383;
	padding: 0.3%;
	display: flex;
	flex-wrap: wrap;
}

.game-item{
	background-color: #0050b0;
	margin: 4px;
	max-width: 45vw;
	padding: 0;
	text-decoration: none;

}
.game-item img {
	width: auto\9;
	max-width: 100%;
}

.game-item h2 {
	color: white;
	font-family: 'Frutiger', sans-serif;
	text-align: center;
	width: 100%;
	text-decoration: none;
}


